<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Электрик</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/prot.js') }}"></script>
        <script src="{{ asset('js/init.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block modal %}{% endblock %}
    </body>
</html>
